/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main_banner {
    padding: 130px 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main_banner {
    padding: 100px 0;
  }
  .main_banner .mb_info > h1 {
    font-size: 45px;
  }
  .main_banner .mb_info .descrip {
    margin-bottom: 15px;
  }
  section {
    padding: 70px 0;
  }
  .pf_info {
    margin-bottom: 70px;
  }
  #pre_footer .pf_info > .pf_images {
    margin: 0 auto;
  }
  .col-lg-3 {
    width: 48%;
    order: 2;
  }
  .mnu_footer_wrapper {
    width: 100%;
    margin-bottom: 30px;
    order: 1;
  }
  .copyright {
    order: 3;
    /* Small Devices, Tablets */
  }
}
@media only screen and (max-width: 768px) {
  /**/
  #header .inner_header .right_side_header > .btn_simple {
    display: none;
  }
  #header .inner_header .right_side_header .mnu_top > li a {
    padding: 0 30px 8px 0;
  }
  #header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
    right: 15px;
  }
  .main_banner {
    padding: 18px 0 135px;
  }
  .main_banner .img-responsive {
    margin: 0 auto;
    max-width: 75%;
  }
  .main_banner .main_banner .mb_info > h1 {
    font-size: 40px;
  }
  #advantages .heading_main h2 {
    font-size: 34px;
  }
  #advantages .heading_main .description {
    font-size: 16px;
  }
  .row_adv > div {
    width: 50%;
  }
  .item_adv {
    text-align: center;
    max-width: 240px;
    margin: 0 auto;
  }
  #advantages .row_adv .item_adv .heading {
    margin: 10px 0;
    font-size: 20px;
  }
  #advantages .row_adv .item_adv .desc {
    font-size: 14px;
  }
  section.information .img-responsive {
    display: none;
  }
  section.information .right_info {
    padding: 0 10px;
    text-align: center;
  }
  section.information .right_info .notif {
    margin: 0 auto;
  }
  section.information .right_info > h3 {
    font-size: 34px;
  }
  #reviews .item_rev > .quotes {
    font-size: 18px;
    height: 80px;
  }
  #pre_footer .pf_info > h4 {
    font-size: 34px;
  }
  #footer {
    padding: 30px 0;
  }
  #footer b {
    font-size: 14px;
  }
  section {
    padding: 60px 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  .hamburger {
    display: block;
  }
  #header {
    padding-top: 14px;
    position: relative;
  }
  #header .inner_header .right_side_header .mnu_top {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 10px 0;
    z-index: 1;
    left: 0;
    top: 70px;
  }
  #header .inner_header .right_side_header .mnu_top > li {
    display: block;
  }
  #header .inner_header .right_side_header .mnu_top > li > a {
    padding: 5px 15px;
  }
  #header .inner_header .right_side_header .mnu_top > li > .sub_menu {
    display: block;
    position: relative;
    top: auto;
    box-shadow: none;
    border-radius: 0;
    animation: none;
    padding-left: 15px;
  }
  #top_banner {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  .main_banner {
    padding: 18px 0 80px;
  }
  #header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
    display: none;
  }
  .main_banner .mb_info > h1 {
    font-size: 30px;
    text-align: center;
  }
  .main_banner .mb_info .descrip {
    font-size: 14px;
    text-align: center;
  }
  .main_banner .mb_info .btns {
    flex-wrap: wrap;
  }
  .main_banner .mb_info .btns > .btn {
    text-align: center;
    width: 100%;
  }
  .main_banner .mb_info .btns > .btn_white {
    margin-top: 10px;
    margin-left: 0;
  }
  #advantages .heading_main h2 {
    font-size: 26px;
  }
  #advantages .heading_main .description {
    font-size: 14px;
  }
  .row_adv > div {
    width: 100%;
    margin-bottom: 15px;
  }
  .row_adv > div:last-child {
    margin-bottom: 0;
  }
  #reviews {
    padding: 100px 0;
    clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
  }
  #reviews .nav_rev {
    justify-content: space-evenly;
  }
  #reviews .nav_rev > div {
    width: 30%;
  }
  #reviews .nav_rev > div:nth-child(4n) {
    height: 30px;
  }
  #reviews .nav_rev > div:nth-child(5n) {
    height: 30px;
  }
  #reviews .nav_rev > div > img {
    height: 100%;
  }
  section.information .right_info > h3 {
    font-size: 25px;
  }
  #pre_footer .pf_info > .pf_images {
    width: 100%;
  }
  #pre_footer .form_wrapper > form {
    width: 100%;
  }
  #footer .logo_info > .desc {
    display: none;
  }
  #footer .mnu_footer_wrapper > .mnu_footer {
    width: 45%;
    margin-bottom: 15px;
  }
  #pre_footer .pf_info > h4 {
    font-size: 24px;
  }
  section {
    padding: 30px 0;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}

/*# sourceMappingURL=adaptive.css.map */
