* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato", sans-serif;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato", sans-serif;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato", sans-serif;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato", sans-serif;
}

*::placeholder, button {
  font-family: "Lato", sans-serif;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn_simple {
  background: #FFFFFF;
  border: 1px solid #722ED1;
  border-radius: 20px;
  color: #722ED1;
  text-decoration: none;
  padding: 6px 30px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.btn_simple:hover {
  background-color: #722ED1;
  color: #fff;
}

.btn {
  border-radius: 24px;
  background-color: #722ED1;
  color: #fff;
  text-decoration: none;
  padding: 14px 40px;
  transition: all 0.4s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn:hover {
  background-color: #fff;
  color: #111;
}
.btn.btn_white {
  background-color: #fff;
  color: #111;
}
.btn.btn_white:hover {
  background-color: #722ED1;
  color: #fff;
}

h1, h2, h3, h4 {
  line-height: 1.3;
}

#top_banner {
  background: linear-gradient(180deg, #FFFFFF 0%, #E2F1FF 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.notif {
  max-width: max-content;
  background-color: #f9f0ff;
  border-radius: 30px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
}
.notif img {
  width: 16px;
  height: auto;
  margin-right: 7px;
}
.notif p {
  color: #722ED1;
}
.notif a {
  transition: all 0.4s ease;
  text-decoration: none;
  border-bottom: 1px solid #722ED1;
}
.notif a:hover {
  color: #5b25a7;
}

.main_banner {
  padding: 200px 0;
}
.main_banner .mb_info > h1 {
  color: #160637;
  font-weight: 900;
  color: #160631;
  font-size: 48px;
  font-weight: 700;
}
.main_banner .mb_info .descrip {
  color: #8989a2;
  margin: 14px 0 44px;
}
.main_banner .mb_info .btns {
  display: flex;
  align-items: center;
}
.main_banner .mb_info .btns > .btn_white {
  margin-left: 16px;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section {
  padding: 100px 0;
}
section#top_banner {
  padding: 0;
}

#header {
  padding-top: 24px;
}
#header .inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner_header > .logo {
  display: block;
  width: 48px;
  height: 48px;
}
#header .inner_header > .logo > img {
  width: 100%;
}
#header .inner_header .right_side_header {
  display: flex;
  align-items: center;
}
#header .inner_header .right_side_header .mnu_top {
  list-style-type: none;
}
#header .inner_header .right_side_header .mnu_top > li {
  display: inline-block;
  position: relative;
}
#header .inner_header .right_side_header .mnu_top > li a {
  padding: 0 40px 10px 0;
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  transition: color 0.4s ease;
}
#header .inner_header .right_side_header .mnu_top > li a:hover {
  color: #722ED1;
}
#header .inner_header .right_side_header .mnu_top > li.has_sub_menu:hover > .sub_menu {
  display: block;
}
#header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
  content: "";
  display: block;
  width: 9px;
  height: 7px;
  background: no-repeat url("../img/main_banner/arrow.svg") center;
  position: absolute;
  top: 10px;
  right: 20px;
}
#header .inner_header .right_side_header .mnu_top > li > .sub_menu {
  position: absolute;
  top: 35px;
  background-color: #fff;
  box-shadow: 0 3px 6px;
  z-index: 10;
  border-radius: 5px;
  padding: 5px 0;
  animation: opac 0.6s;
  display: none;
}
#header .inner_header .right_side_header .mnu_top > li > .sub_menu > li {
  display: block;
}
#header .inner_header .right_side_header .mnu_top > li > .sub_menu > li > a {
  padding: 3px 10px;
  font-size: 14px;
}

#advantages .notif {
  margin: 0 auto;
}
#advantages .notif img {
  width: 26px;
  height: auto;
  margin-right: 7px;
}
#advantages .heading_main {
  max-width: 500px;
  margin: 32px auto 48px;
}
#advantages .heading_main h2 {
  color: #160637;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 12px;
}
#advantages .heading_main .description {
  text-align: center;
  color: #8989a2;
  font-size: 18px;
}
#advantages .row_adv .item_adv img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#advantages .row_adv .item_adv .heading {
  color: #160637;
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0 16px;
}
#advantages .row_adv .item_adv .desc {
  color: #8989a2;
  font-size: 18px;
}

section.information .img-responsive {
  margin: 0 auto;
}
section.information .right_info {
  padding-left: 50px;
}
section.information .right_info > h3 {
  color: #160637;
  font-size: 38px;
  font-weight: 900;
  margin: 32px 0 16px;
}
section.information .right_info > .desc {
  color: #8989a2;
  font-size: 16px;
}

#reviews {
  background: linear-gradient(175.54deg, #F9F0FF 25.81%, #E2F1FF 96.38%);
  clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 25%);
  padding: 200px 0;
}
#reviews .item_rev {
  text-align: center;
  display: none;
  animation: opac 0.9s;
}
#reviews .item_rev.active {
  display: block;
}
#reviews .item_rev > .quotes {
  height: 100px;
  max-width: 660px;
  color: #160637;
  font-size: 22px;
  margin: 0 auto 16px;
}
#reviews .item_rev > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#reviews .item_rev .name {
  margin-top: 16px;
}
#reviews .item_rev > .name, #reviews .item_rev > .position {
  color: #111;
  font-weight: 900;
}
#reviews .line {
  height: 1px;
  width: 100%;
  background-color: #DEC9FA;
  margin: 55px 0;
}
#reviews .nav_rev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
#reviews .nav_rev > div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 16%;
  filter: opacity(0.4);
  transition: all 0.4s ease;
}
#reviews .nav_rev > div.active {
  filter: opacity(1);
  transform: scale(1.1);
}

.btn_form {
  background: #722ED1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  cursor: pointer;
  padding: 14px;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  transition: border-radius 0.4s ease-in-out;
}
.btn_form:hover {
  border-radius: 30px;
}

#pre_footer .pf_info > h4 {
  color: #160637;
  font-weight: 900;
  font-size: 38px;
  text-align: center;
}
#pre_footer .pf_info > img {
  display: block;
  margin: 15px auto 42px;
}
#pre_footer .pf_info > .pf_images {
  margin-top: 30px;
  height: 170px;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#pre_footer .pf_info > .pf_images > img {
  display: block;
  margin: 0 auto;
  width: 46%;
}
#pre_footer .form_wrapper {
  background: #F9F0FF;
  border-radius: 8px;
  max-width: 480px;
  margin: 0 auto;
}
#pre_footer .form_wrapper > form {
  padding: 36px 36px 24px;
  margin: 0 auto;
  width: 80%;
  border: solid 1px #F9F0FF;
  background: #fff;
  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
  transform: translateY(-40px);
  text-align: center;
}
#pre_footer .form_wrapper > form > h4 {
  color: #160637;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 900;
}
#pre_footer .form_wrapper > form > input {
  transition: border-color 0.4s ease-in out;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 14px 24px 14px;
  border: 1px solid rgba(137, 137, 162, 0.5);
}
#pre_footer .form_wrapper > form > input:focus {
  border-color: #8e58da;
}
#pre_footer .form_wrapper > form > input:placeholder {
  color: #8989a2;
  font-size: 16px;
}
#pre_footer .form_wrapper > form > .or {
  text-align: center;
  margin: 20px auto 15px;
  color: #111;
  text-transform: uppercase;
}
#pre_footer .form_wrapper > form > a {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  text-decoration: none;
}
#pre_footer .form_wrapper > form > .footer_form > .line {
  height: 1px;
  width: 100%;
  background-color: rgba(137, 137, 162, 0.5);
  margin: 22px 0;
}
#pre_footer .form_wrapper > form > .footer_form > p {
  font-size: 14px;
  color: #8989a2;
}
#pre_footer .form_wrapper > form > .footer_form > p > a {
  color: #1563ff;
}

#footer {
  padding: 60px 0 0;
  background: #FBFCFF;
}
#footer .logo_info > a {
  width: 48px;
  height: 48px;
}
#footer .logo_info > a > img {
  margin: 0 auto;
}
#footer .logo_info > .desc {
  line-height: 1.65;
  color: #160637;
  font-size: 14px;
  margin: 16 0;
}
#footer .logo_info > .social {
  list-style-type: none;
}
#footer .logo_info > .social > li {
  display: inline-block;
  margin-right: 16px;
}
#footer .logo_info > .social > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
#footer .logo_info > .social > li > a > img {
  transition: transform 0.5s ease;
}
#footer .logo_info > .social > li > a > img:hover {
  transform: translateY(-8px);
}
#footer .logo_info > .social > li:last-child {
  margin-right: 0;
}
#footer .mnu_footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
#footer .mnu_footer_wrapper > .mnu_footer {
  width: 23%;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul {
  list-style-type: none;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul > li {
  display: block;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul > li > a {
  font-size: 13 px;
  padding: 7px 0;
  display: block;
  text-decoration: none;
  color: #160637;
  transition: color 0.4s ease;
}
#footer .mnu_footer_wrapper > .mnu_footer > ul > li > a:hover {
  color: #722ED1;
}
#footer b {
  color: #160637;
  margin-bottom: 7px;
  display: block;
  font-size: 18px;
  font-weight: 900;
}
#footer .newsletter > form {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
  position: relative;
}
#footer .newsletter > form > input {
  display: block;
  border: none;
  background-color: transparent;
  output: none;
  max-width: 100%;
  padding: 12px 16px;
}
#footer .newsletter > form > input:placeholder-shown {
  color: #8989a2;
  font-size: 14px;
}
#footer .newsletter > form > button {
  position: absolute;
  cursor: pointer;
  top: 7px;
  right: 10px;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}
#footer .copyright {
  color: #160637;
  padding-block: 15px;
  font-size: 16px;
  font-weight: 900;
  margin-top: 66px;
  text-align: center;
  flex-grow: 1;
}

.hamburger {
  display: none;
}
.hamburger .line {
  width: 24px;
  height: 3px;
  background-color: #111;
  display: block;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger.is-active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.animate_graphic {
  animation: 2s infinite alternate MovingAn;
}

@keyframes MovingAn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

/*# sourceMappingURL=main.css.map */
