* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn_simple {
  background: #FFFFFF;
  border: 1px solid #722ED1;
  border-radius: 20px;
  color: #722ED1;
  text-decoration: none;
  padding: 6px 30px;
  font-weight: 600;
  transition: all 0.4s easy;
}
.btn_simple:hover {
  background-color: #722ED1;
  color: #fff;
}

.btn {
  border-radius: 24px;
  background-color: #722ED1;
  color: #fff;
  text-decoration: none;
  padding: 14px 40px;
  transition: all 0.4s easy;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn:hover {
  background-color: #fff;
  color: #111;
}
.btn.btn_white {
  background-color: #fff;
  color: #111;
}
.btn.btn_white:hover {
  background-color: #722ED1;
  color: #fff;
}

#top_banner {
  background: linear-gradient(180deg, #FFFFFF 0%, #E2F1FF 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

#header {
  padding-top: 24px;
}
#header .inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner_header > .logo {
  display: block;
  width: 48px;
  height: 48px;
}
#header .inner_header > .logo > img {
  width: 100%;
}
#header .inner_header .right_side_header {
  display: flex;
  align-items: center;
}
#header .inner_header .right_side_header .mnu_top {
  list-style-type: none;
}
#header .inner_header .right_side_header .mnu_top > li {
  display: inline-block;
  margin-right: 40px;
}
#header .inner_header .right_side_header .mnu_top > li > a {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  transition: color 0.4s ease;
}
#header .inner_header .right_side_header .mnu_top > li > a:hover {
  color: #722ED1;
}

.notif {
  max-width: 256px;
  background-color: #f9f0ff;
  border-radius: 20px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
}
.notif img {
  width: 16px;
  height: auto;
  margin-right: 7px;
}
.notif p {
  color: #722ED1;
}
.notif a {
  transition: all 0.4s ease;
  text-decoration: none;
  border-bottom: 1px solid #722ED1;
}
.notif a:hover {
  color: #5b25a7;
}

.main_banner {
  padding: 200px 0;
}
.main_banner .mb_info > h1 {
  color: #160631;
  font-size: 48px;
  font-weight: 700;
}
.main_banner .mb_info .descrip {
  color: #8989A2;
  margin: 14px 0 44px;
}
.main_banner .mb_info .btns {
  display: flex;
  align-items: center;
}
.main_banner .mb_info .btns > .btn_white {
  margin-left: 16px;
}

/*# sourceMappingURL=main.css.map */
